body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:24px;
  width:355px;
  height:35px;
  font-size:20px;
  color:#009900;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:477px;
  width:239px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:366px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 3px 12px rgba(0, 0, 0, 0.647058823529412);
  -webkit-box-shadow:5px 3px 12px rgba(0, 0, 0, 0.647058823529412);
  box-shadow:5px 3px 12px rgba(0, 0, 0, 0.647058823529412);
}
#u524 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:84px;
  width:358px;
  height:366px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:389px;
  width:316px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:93px;
  width:273px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:184px;
  height:43px;
}
#u527_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:359px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u528_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:280px;
  width:150px;
  height:16px;
  color:#999999;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:43px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:306px;
  width:79px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:333px;
  width:33px;
  height:16px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:202px;
  width:316px;
  height:45px;
}
#u532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:134px;
  width:316px;
  height:45px;
}
#u533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:257px;
  width:100px;
  height:16px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u534_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:257px;
  width:100px;
  height:16px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u535_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:257px;
  width:100px;
  height:16px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u536_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:257px;
  width:100px;
  height:16px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u537_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:359px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u538_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
